<div class="wrapper fadeInDown">
  <img src="../../../assets/images/Logo.png" alt="" style="width:250px; height:auto">
  <div id="formContent">
    <br>
    <form class="form-signin" [formGroup]="form" (submit)="submit()">
      <h1 class="h3 mb-3 font-weight-normal" style="color:white">Register</h1>
      <hr style="background-color:white">
      <input formControlName="email" type="email" class="fadeIn second form-control" placeholder="Email address" required="" autofocus="">

      <input formControlName="password" type="password" class="fadeIn third form-control" placeholder="Password" required="">

      <input formControlName="name" type="text" class=" fadeIn secondform-control" placeholder="Username" required="">

      <input type="submit" class="fadeIn fourth" value="Sign Up">

    </form>
  </div>
</div>
