<!--<form class="form-signin" [formGroup]="form" (submit)="submit()">-->
<!--  <h1 class="h3 mb-3 font-weight-normal">Please register</h1>-->
<!--  <input formControlName="email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">-->

<!--  <input formControlName="password" type="password" class="form-control" placeholder="Password" required="">-->

<!--&lt;!&ndash;  <input formControlName="password_confirm" type="password" class="form-control" placeholder="Password confirm" required="">&ndash;&gt;-->

<!--  <input formControlName="full_name" type="text" class="form-control" placeholder="Full Name" required="">-->

<!--  <input formControlName="role" type="text" class="form-control" placeholder="Role" required="">-->

<!--  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>-->
<!--</form>-->

<!-- <form class="form-signin" [formGroup]="form" (submit)="submit()">
  <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
  <input formControlName="email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">

  <input formControlName="password" type="password" class="form-control" placeholder="Password" required="">

 <input formControlName="password_confirm" type="password" class="form-control" placeholder="Password confirm" required="">

  <input formControlName="full_name" type="text" class="form-control" placeholder="Full Name" required="">

  <input formControlName="role" type="text" class="form-control" placeholder="Role" required="">

  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form> -->

<div class="wrapper fadeInDown">
  <img src="../../../assets/images/Logo.png" alt="" style="width:250px; height:auto">
  <div id="formContent">
    <br>
    <form class="form-signin" [formGroup]="form" (submit)="submit()">
      <h1 class="h3 mb-3 font-weight-normal" style="color:white">Register</h1>
      <hr style="background-color:white">
      <input formControlName="email" type="email" class="fadeIn second form-control" placeholder="Email address" required="" autofocus="">

      <input formControlName="password" type="password" class="fadeIn third form-control" placeholder="Password" required="">

      <input formControlName="full_name" type="text" class=" fadeIn secondform-control" placeholder="Full Name" required="">

      <input formControlName="role" type="text" class=" fadeIn second form-control" placeholder="Role" required="">

      <input type="submit" class="fadeIn fourth" value="Sign Up">

      <h3 style="color:#ddd">If you have an account, please <a href="" style="color: #9D4C4C"><u>Login</u></a> </h3>
    </form>
  </div>
</div>
