<app-nav></app-nav>
<div class="container">
  <!-- explore -->
  <div class="row row--grid">
    <!-- title -->
    <div class="col-12">
      <div class="main__title">
        <h2>All posts</h2>
        <div class="col-md-2">
                <mat-form-field style="padding-top: 40px;">
                  <mat-label style="color: white">Category</mat-label>
                  <mat-select style="color: white" ngModel name="category_id" aria-required="mat-option" >
                    <mat-option (click)="resetCatFilter()" selected>
                      All Posts
                    </mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category.id" (click)="getPostsByCat(category.id)">
                      {{ category.category_name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
      </div>
    </div>
    <!-- end title -->

    <div class="col-12" >
      <!-- tabs content -->
      <div class="tab-content" >
        <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
          <div class="row row--grid">
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3" *ngFor="let post of posts">
<!--            <div class="col-12 col-sm-6 col-lg-4 col-xl-3" *ngFor="let post of posts | paginate: {itemsPerPage:12, currentPage:p}">-->
              <!-- card -->
              <div class="card">
                <div *ngIf="post.image">
                  <a [routerLink]="['../single-post',post.id]" class="card__cover">
                    <img src="{{imgUrl+post.image}}" alt="">
                  </a>
                </div>
                <div *ngIf="!post.image">
                  <a [routerLink]="['../single-post',post.id]" class="card__cover">
                    <img src="../assets/images/cover1.jpg" alt="">
                  </a>
                </div>
                <h3 class="card__title"><a [routerLink]="['../single-post',post.id]">{{post.title}}</a></h3>
                <div class="card__author">
                  <img src="../assets/images/avatar.jpg" alt="">
                  <a [routerLink]="['../user',post.user.id]">{{post.artist.first_name + " " + post.artist.last_name}}</a>
                </div>
                <div class="card__info">
                  <li class="card__likes">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.16,5A6.29,6.29,0,0,0,12,4.36a6.27,6.27,0,0,0-8.16,9.48l6.21,6.22a2.78,2.78,0,0,0,3.9,0l6.21-6.22A6.27,6.27,0,0,0,20.16,5Zm-1.41,7.46-6.21,6.21a.76.76,0,0,1-1.08,0L5.25,12.43a4.29,4.29,0,0,1,0-6,4.27,4.27,0,0,1,6,0,1,1,0,0,0,1.42,0,4.27,4.27,0,0,1,6,0A4.29,4.29,0,0,1,18.75,12.43Z"/></svg>
                    <span *ngIf="post.total_likes==1"> {{post.total_likes}} Like </span>
                    <span *ngIf="post.total_likes!=1"> {{post.total_likes}} Likes </span>

                  </li>
                  <small class="text-muted">{{post.date}}</small>
                </div>
                <!-- end card -->
              </div>
            </div>
<!--            <pagination-controls (pageChange)="p = $event"></pagination-controls>-->

            <!-- end paginator -->
          </div>
        </div>
        <!-- end tabs content -->
      </div>
    </div>
    <!-- end explore -->

    <!-- end new authors -->

  </div>

