/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  background: linear-gradient(to right, #16151a, #16151a);
  min-height: auto;
  overflow-x: hidden; }

.table-responsive{
  background-color: #fff!important;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 30px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.backdropBackground {
  background-color: #bbbbbbf2;
  backdrop-filter: blur(4px);
}
