.profile-head {
  transform: translateY(5rem)
}

.cover {
  background-image: url('../../../assets/images/postBg.jpg');
  background-size: cover;
  background-repeat: no-repeat
}

.body_profile {
  background: linear-gradient(to right, #16151a, #9D4C4C);
  min-height: auto;
  overflow-x: hidden;
  padding-top: 5%;
  padding-bottom: 5%;
}
